:root {
    --font-family-base: 'RethikSans', medium;
    --font-family-heading: 'RethikSans', medium;
    --font-family-card: 'RethikSans', medium;
    --font-size-heading: 75px;
    --font-size-base: 21px;
    --font-size-card: 36px;
    --line-height-base: 1.5;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

h1, h2, h3 {
    font-family: var(--font-family-heading);
}

p {
    font-family: var(--font-family-card);
}