:root {
  font-family: Rethink Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  background-color: #000;
  color: #fff;

  --background-color: #000000;
  --text-color: #FFFFFFD9;
  --accent-color: #C1F80C;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  box-sizing: border-box;

  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: "Rethink Sans";
  src: url("src/assets/fonts/RethinkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("src/assets/fonts/RethinkSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("src/assets/fonts/RethinkSans-SemiBold.ttf");
  font-weight: 700;
}

.Text__regular {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
}

.Text__header {
  font-size: 75px;
  line-height: 97px;
  font-weight: 700;
}

.Text__medium {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}