.Card {
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 25px;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.card:hover {
  background-color: #000000;
}

.Card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.Tag__list {
  position: absolute;
  bottom: 100%;
  /* left: 0; */
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease 0.6;
}

.hidden {
  opacity: 0.1;
}

.Card:hover .Tag__list {
  opacity: 1;
}

.ArrowIcon {
  transition: transform 0.5s ease;
}

.Card:hover .ArrowIcon {
  transform: rotate(-90deg);
}

.Portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.Portal.visible {
  opacity: 1;
  pointer-events: auto;
}