.Card {
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 25px;
  padding: 30px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  /* min-height: 240px; */
}

.Card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}